# Основные зависимости для парсера
playwright>=1.40.0
beautifulsoup4>=4.12.2
langdetect>=1.0.9

# Для работы с датами
python-dateutil>=2.8.2

# Для Windows (если нужно) - для корректного вывода цветов
colorama>=0.4.6

# Для улучшенной работы с HTTP
requests>=2.31.0
lxml>=4.9.3

# Для асинхронных запросов
aiohttp>=3.9.0